.panel-default > .panel-heading.sledgehammer-critical {
  background-color: #900;
  color: #FFF;
  .fa {
    color: #FFF;
    opacity: 1;
  }
}

.gridster dashboard-panel .panel .panel-heading.sledgehammer-critical .panel-title i {
  color: #FFF;
  opacity: 1;
}

.panel-default > .panel-heading.sledgehammer-warning {
  background-color: #FCBF05;
}
